body{
  width: 720px;
  height: 450px;
  background-color:rgba(235, 227, 8, 0.8);
}


bground2{
  width: 132.3px;
  height: 88.3px;
  border-radius: 21px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}

btn{
  width: 74.4px;
  height: 24px;
  background-color: #FBED26;
}

.input[type="text"] {
  width: 150px;
  display: block;
  margin-bottom: 10px;
  background-color: green;
}
